<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicia sesión</title>

    <!-- App css -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/icons.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/metisMenu.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css"/>

    <style>
        .account-body.accountbg {
            background-image: url("../img/iptv.jpg");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body class="account-body accountbg">

<!-- Log In page -->
<div class="row vh-100 ">
    <div class="col-12 align-self-center">
        <div class="auth-page">
            <div class="card auth-card shadow-lg">
                <div class="card-body">
                    <div class="px-3">
                        <div class="auth-logo-box">

                            <a href="#" class="logo logo-admin">
                                <img src="{{ asset('img/logo-sm.png') }}" height="40" class="auth-logo"
                                     alt="Logo auth">
                            </a>
                        </div><!--end auth-logo-box-->
                        <div class="text-center auth-logo-text">
                            <h4 class="mt-0 mb-3 mt-5">
                                Bienvenido
                            </h4>
                            <p class="text-muted mb-0">
                                Por favor acceda para continuar
                            </p>
                        </div><!--end auth-logo-text-->

                        <form method="post" class="form-horizontal auth-form my-4">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.username }}, <a
                                            href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}

                            <div class="form-group">
                                <label for="inputEmail">Email</label>
                                <div class="input-group mb-3">
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                           class="form-control" required
                                           autofocus>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="inputPassword">Password</label>
                                <div class="input-group mb-3">
                                    <input type="password" name="password" id="inputPassword"
                                           class="form-control"
                                           required>
                                </div>
                            </div>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >

                            {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                            #}

                            <div class="form-group row mt-4">
                                {# <div class="col-sm-6">
                                            <div class="custom-control custom-switch switch-success"><input
                                                        type="checkbox" class="custom-control-input"
                                                        id="customSwitchSuccess"> <label
                                                        class="custom-control-label text-muted"
                                                        for="customSwitchSuccess">Remember me</label></div>
                                        </div><!--end col--> #}
                                <div class="col-sm-6 text-right ml-auto">
                                    <a href="{{ url('app_forgot_password_request') }}" class="text-muted font-13">
                                        ¿Olvidaste tu contraseña?</a>
                                </div>
                                <!--end col-->
                            </div>

                            <div class="form-group mb-0 row">
                                <div class="col-12 mt-2">
                                    <button class="btn btn-block btn-primary" type="submit">
                                        Iniciar
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div><!--end /div-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end auth-page-->
    </div><!--end col-->
</div><!--end row-->
<!-- End Log In page -->

<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
<script src="{{ asset('js/metismenu.js') }}"></script>
<script src="{{ asset('js/waves.js') }}"></script>
<script src="{{ asset('js/jquery.slimscroll.js') }}"></script>
<script src="{{ asset('js/app.js') }}"></script>
</body>
</html>



