{% extends 'base.html.twig' %}

{% block title %}
    Clientes por vencer
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Listado de clientes por vencer</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered mb-0">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Celular</th>
                            <th>Días vencidos</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, cliente in clientes %}
                            <tr>
                                <td>{{ key + 1 }}</td>
                                <td>{{ cliente[0].nombre }}</td>
                                <td>{{ cliente[0].email }}</td>
                                <td>{{ cliente[0].celular }}</td>
                                <td>
                                    {% if cliente.total == 0 %}
                                        <span class="font-weight-bold text-danger">Vence hoy</span>
                                    {% else %}
                                        <span class="font-weight-bold text-blue">Vencio hace: {{ cliente.total }} días</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-warning btn-sm"
                                       href="{{ url('admin_cliente_edit', {'id':cliente[0].id}) }}">
                                        <i class="typcn typcn-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

