{% extends 'base.html.twig' %}

{% block title %}Clientes{% endblock %}
{% block styles %}
    {{ parent() }}
    <style>
        .table thead tr th {
            white-space: nowrap;
        }

        .table td {
            white-space: nowrap;
        }
    </style>
{% endblock %}
{% block body %}
     <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('admin_cliente_registrar') }}" class="btn btn-primary">Nuevo</a>
                </div>
                <h4 class="page-title">Clientes</h4>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <form action="" method="get">

                        <div class="row mb-4">
                            <div class="col-md-4">
                                <input type="search" name="email" class="form-control" >
                            </div>

                            <div class="col-md-2">
                                <button type="submit" class="btn btn-info">Buscar</button>
                            </div>
                        </div>

                    </form>

                    <div class="table-responsive mb-4" data-pattern="priority-columns">
                        <table id="tech-companies-1" class="table table-striped mb-0">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th data-priority="1">Email</th>
                                <th data-priority="1">Usuario</th>
                                <th data-priority="3">Contraseña</th>
                                <th data-priority="3">Celular</th>
                                <th data-priority="6">Vendedor</th>
                                <th data-priority="6">F. Vencimiento</th>
                                <th data-priority="6">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, client in paginator.results %}
                                <tr>
                                    <td>{{ key + 1 }}</td>
                                    <td>{{ client.email }}</td>
                                    <td>{{ client.cliente }}</td>
                                    <td>{{ client.password }}</td>
                                    <td>{{ client.celular }}</td>
                                    <td>{{ client.user.email }}</td>
                                    <td>{{ client.updateClient | date("d/m/Y") }}</td>
                                    <td>
                                        <a class="btn btn-secondary btn-sm"
                                           href="{{ url('admin_cliente_show', {'id':client.id}) }}">
                                            <i class="typcn typcn-eye"></i>
                                        </a>
                                        <a class="btn btn-warning btn-sm"
                                           href="{{ url('admin_cliente_edit', {'id':client.id}) }}">
                                            <i class="typcn typcn-pencil"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex justify-content-center">
                        {% if paginator.hasToPaginate %}
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    {% if paginator.hasPreviousPage %}
                                        <li class="page-item"><a
                                                    href="{{ path('admin_cliente_paginate', {page: paginator.previousPage}) }}"
                                                    rel="previous" class="page-link">Previous
                                            </a></li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a href="#" tabindex="-1" class="page-link">Previous</a>
                                        </li>
                                    {% endif %}

                                    {% for i in 1..paginator.lastPage %}
                                        {% if i == paginator.currentPage %}
                                            <li class="page-item active">
                                                <a class="page-link"
                                                   href="{{ path('admin_cliente_paginate', {page: i}) }}">{{ i }}</a>
                                            </li>
                                        {% else %}
                                            <li><a class="page-link"
                                                   href="{{ path('admin_cliente_paginate', {page: i}) }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if paginator.hasNextPage %}
                                        <li class="page-item next"><a
                                                    href="{{ path('admin_cliente_paginate', {page: paginator.nextPage}) }}"
                                                    rel="next" class="page-link">Next</a></li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a href="#" class="page-link">Next</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->


{% endblock %}
