{% extends 'base.html.twig' %}

{% block title %}
    Ver cliente
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('admin_cliente') }}">
                        <i style="font-size: 15px" class="typcn typcn-chevron-left"></i>
                        Regresar</a>
                </div>
                <h4 class="page-title">Cliente: {{ cliente.email }}</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Email</th>
                            <td>{{ cliente.email }}</td>
                        </tr>
                        <tr>
                            <th>Contraseña</th>
                            <td>{{ cliente.password }}</td>
                        </tr>

                        <tr>
                            <th>Celular</th>
                            <td>{{ cliente.celular }}</td>
                        </tr>
                        <tr>
                            <th>Nombres</th>
                            <td>{{ cliente.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Apellidos</th>
                            <td>{{ cliente.apellido }}</td>
                        </tr>

                        <tr>
                            <th>Creado por</th>
                            <td>{{ cliente.user.email }}</td>
                        </tr>

                        <tr>
                            <th>Descripción</th>
                            <td>{{ cliente.description }}</td>
                        </tr>

                        <tr>
                            <th>Acciones</th>
                            <td>
                                <a class="btn btn-warning btn-sm"
                                   href="{{ path('admin_cliente_edit', {'id': cliente.id}) }}">Editar</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

