<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-grid.css') }}">
    <link rel="stylesheet" href="{{ asset('font/typicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('webfont/webfont.css') }}">
</head>
<body>
<div class="container font-14">
    <p>An email has been sent that contains a link that you can click to reset your password. This link will expire
        in {{ tokenLifetime|date('g') }} hour(s).</p>
    <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try
            again</a>.</p>

    <a href="{{ path('app_login') }}">
        <i style="font-size: 15px" class="typcn typcn-chevron-left"></i>
        Regresar</a>
</div>

</body>
</html>
