<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-grid.css') }}">
    <link rel="stylesheet" href="{{ asset('font/typicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('webfont/webfont.css') }}">
</head>
<body>
<div class="container">
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Resetea tu password</h1>

    {{ form_start(requestForm) }}
    {{ form_row(requestForm.email) }}
    <div>
        <small>
            Introduzca su dirección de correo electrónico y le enviaremos una
            enlace para restablecer su contraseña.
        </small>
    </div>

    <button class="btn btn-primary">Enviar restablecimiento de contraseña</button>
    {{ form_end(requestForm) }}
</div>
</body>
</html>