<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset password</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-grid.css') }}">
    <link rel="stylesheet" href="{{ asset('font/typicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('webfont/webfont.css') }}">
</head>
<body>
<div class="container">
    <h1>Resetea tu password</h1>

    {{ form_start(resetForm) }}
    {{ form_row(resetForm.plainPassword) }}
    <button class="btn btn-primary">Confirmar</button>
    {{ form_end(resetForm) }}
</div>

</body>
</html>