<form method="post" style="display: inline-block" action="{{ path('categoria_delete', {'id': categorium.id}) }}"
      onsubmit="return confirm('¿Realmente deseas eliminar?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorium.id) }}">
    <button class="btn btn-danger btn-sm">Eliminar</button>
</form>
