{{ form_start(form) }}

<div class="form-group row">
    {{ form_label(form.nombre, null ,{'label_attr':{'class':'col-sm-2 col-form-label text-right'}}) }}
    <div class="col-sm-10">
        {{ form_widget(form.nombre) }}
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-10 ml-auto">
        <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>
    </div>

</div>

{{ form_end(form) }}
