{% extends 'base.html.twig' %}

{% block title %}Categorías{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('categoria_new') }}" class="btn btn-primary">Nuevo</a>
                </div>
                <h4 class="page-title">Categorías</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered mb-0">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, categorium in categorias %}
                            <tr>
                                <td>{{ key + 1 }}</td>
                                <td>{{ categorium.nombre }}</td>
                                <td>
                                    <a class="btn btn-secondary btn-sm"
                                       href="{{ path('categoria_show', {'id': categorium.id}) }}"><i
                                                class="typcn typcn-eye"></i></a>
                                    <a class="btn btn-warning btn-sm"
                                       href="{{ path('categoria_edit', {'id': categorium.id}) }}"><i
                                                class="typcn typcn-pencil"></i></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
