{% extends 'base.html.twig' %}

{% block title %}Categoria{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('categoria_index') }}">
                        <i style="font-size: 15px" class="typcn typcn-chevron-left"></i>
                        Regresar</a>
                </div>
                <h4 class="page-title">Categoría: {{ categorium.nombre }}</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ categorium.nombre }}</td>
                        </tr>

                        <tr>
                            <th>Acciones</th>
                            <td>
                                <a class="btn btn-warning btn-sm"
                                   href="{{ path('categoria_edit', {'id': categorium.id}) }}">Editar</a>
                                {{ include('categoria/_delete_form.html.twig') }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
