<form method="post" style="display: inline-block" action="{{ path('admin_plan_delete', {'id': p.id}) }}"
      onsubmit="return confirm('¿Realmente deseas eliminar?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ p.id) }}">
    <button class="btn btn-outline-danger">Eliminar</button>
</form>
