{% extends 'base.html.twig' %}
{% block title %}
    Crear nuevo plan
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('plan') }}">
                        <i style="font-size: 15px" class="typcn typcn-chevron-left"></i>
                        Regresar</a>
                </div>
                <h4 class="page-title">Crear nuevo plan</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    {{ include('plan/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


