{% extends 'base.html.twig' %}
{% block title %}
    Editar Plan
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('plan') }}">
                        <i style="font-size: 15px" class="typcn typcn-chevron-left"></i>
                        Regresar</a>
                </div>
                <h4 class="page-title">Editar Plan</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    {{ include('plan/_form.html.twig', {button_label:'Editar'}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}



