{% extends 'base.html.twig' %}

{% block title %}Configuraciones generales{% endblock %}

{% block body %}
    <!--titulo-->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a class="btn btn-primary" href="{{ path('admin_plan_nuevo') }}">
                        Nuevo Plan</a>
                </div>
                <h4 class="page-title">Lista de planes</h4>
            </div>
        </div>
    </div> <!--end titulo-->
    <!-- Content -->
    {# {% set precio = 0.0 %}
    {% set id = 0 %}
    {% set cantidad = 0 %}
    {% if plan == null %}
        {% set precio = 0.0 %}
        {% set cantidad = 0 %}
        {% set id = 0 %}
    {% else %}
        {% set precio = plan.precio %}
        {% set cantidad = plan.numeroClientes %}
        {% set id = plan.id %}
    {% endif %} #}
    <div class="row">
        {% for p in planes %}
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="pricingTable1 text-center">
                            <h6 class="title1 py-3 m-0 text-center">Plan {{ p.nombre }}</h6>
                            <div class="text-center py-4">
                                <h3 class="amount">${{ p.precio }} <small class="font-12 text-muted">/mes</small></h3>
                            </div>
                            <ul class="list-unstyled pricing-content-2 py-3 border-0">
                                <li>Clientes máximos {{ p.numeroClientes }}</li>
                            </ul>

                            <div class="">
                                <a href="{{ path('admin_plan_editar', {'id': p.id}) }}" class="btn btn-outline-warning">Editar</a>
                                {{ include('plan/_delete_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div> <!-- end Content -->
{% endblock %}
