<form method="post" style="display: inline-block"
      action="{{ path('app_vendedorn_cliente_email', {'id': c.cliente.id, 'idcuenta': cuenta.id }) }}"
      onsubmit="return confirm('¿Deseas realmente enviar el correo?');">
    <input type="hidden" name="_method" value="POST">
    <input type="hidden" name="_token" value="{{ csrf_token('envio' ~ c.cliente.id) }}">
    <button class="btn btn-sm btn-secondary" type="submit"><i class="fas fa-envelope"></i></button>
</form>
