<form method="post" style="display: inline-block"
      action="{{ path('app_vendedor_solicitar_cuenta') }}"
      onsubmit="return confirm('¿Deseas realmente solicitar una nueva cuenta?');">
    <button class="btn btn-success" type="submit">Solicitar Cuenta</button>
</form>
