{% extends 'base.html.twig' %}

{% block title %}
    Mis clientes Anteriores
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Lista de clientes (Anteriores)</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="text-muted mb-2">Esta pagina solo es informativo por favor use - <a
                                href="{{ path('app_vendedorn') }}">mis cuentas</a> - para crear cuentas y clientes.
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Email</th>
                                <th>Username (TV)</th>
                                <th>Contraseña TV</th>
                                <th>Celular</th>
                                <th>F. Creación</th>
                                <th>F. Vencimiento</th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for c in clientes %}
                                {% if c.user is not null %}
                                    <tr>
                                        <td>{{ c.nombre }}</td>
                                        <td>{{ c.apellido }}</td>
                                        <td>{{ c.email }}</td>
                                        <td>{{ c.cliente }}</td>
                                        <td>{{ c.password }}</td>
                                        <td>{{ c.celular }}</td>
                                        <td>{{ c.createdClient|date('Y-m-d') }}</td>
                                        <td>{{ c.createdClient|date_modify("+30 day")|date('Y-m-d') }}</td>
                                    </tr>
                                {% endif %}

                            {% else %}
                                <tr>
                                    <td colspan="8">No hay clientes hay clientes en esta cuenta.
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}