{% extends 'base.html.twig' %}

{% block title %}
    Mi cuentas
{% endblock %}

{% block body %}
    <!--titulo-->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    {% if user.saldo > 0 %}
                        <a href="{{ path('app_vendedor_solicitar_cuenta') }}" class="btn btn-success">Solicitar
                            Cuenta</a>
                    {% endif %}
                    <a href="{{ path('cliente_registrar') }}"
                       class="btn btn-primary">Nuevos Clientes</a>
                </div>
                <h4 class="page-title">Mis cuentas</h4>
            </div>
        </div>
    </div> <!--end titulo-->
    {# {{ dump(cuentas) }} #}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    {% if user.saldo <= 0 %}
                        <div class="alert alert-warning">
                            Por favor recargue su cuenta para solicitar nuevas cuentas 😃 <br>
                        </div>
                    {% endif %}

                    <table class="table table-bordered">
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>F. Creación</th>
                            <th>F. Vencimiento</th>
                            <th>Clientes Rest.</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                        {% for key, c in cuentas %}
                            <tr class="{{ date(c.vencimiento) <= date() ? 'bg-soft-danger' : '' }}">
                                <td>{{ key + 1 }}</td>
                                <td>
                                    {% if c.username %}
                                        {{ c.username }}
                                    {% else %}
                                        <span class="badge badge-soft-purple">En proceso...</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if c.password %}
                                        {{ c.password }}
                                    {% else %}
                                        <span class="badge badge-soft-purple">En proceso...</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <span class="badge badge-light">{{ c.created|format_date() }}</span>
                                </td>
                                <td class="font-weight-bold">
                                    <span class="badge badge-light">{{ c.vencimiento|format_date() }}</span>
                                </td>
                                <td>
                                    {{ c.restanteCliente }}
                                </td>
                                <td>
                                    {% if c.estado %}
                                        {% if date(c.vencimiento) <= date() %}
                                            <span class="badge badge-danger">Vencido</span>
                                        {% else %}
                                            <span class="badge badge-success">Activado</span>
                                        {% endif %}

                                    {% else %}
                                        <span class="badge badge-danger">Desactivado</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-secondary btn-sm"
                                       href="{{ url('app_vendedorn_clientes', {'id' : c.id}) }}">
                                        {# <i class="typcn typcn-eye"></i> #}
                                        Ver clientes
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

