{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('cliente') }}">
                        <i style="font-size: 15px" class="typcn typcn-chevron-left"></i>
                        Regresar</a>
                </div>
                <h4 class="page-title">Editar {{ cliente.nombre }}</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    {% for message in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <form action="" method="post">
                        <div class="form-group row">
                            <label for="email" class="col-sm-2 col-form-label text-right">* Email</label>
                            <div class="col-sm-10">
                                <input type="email" name="email" id="email"
                                       value="{{ cliente.email }}"
                                       class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="nombre" class="col-sm-2 col-form-label text-right">Nombres</label>
                            <div class="col-sm-10">
                                <input type="text" name="nombre" id="nombre" value="{{ cliente.nombre }}"
                                       class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="apellido" class="col-sm-2 col-form-label text-right">Apellidos</label>
                            <div class="col-sm-10">
                                <input type="text" name="apellido" id="apellido" value="{{ cliente.apellido }}"
                                       class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="descripcion" class="col-sm-2 col-form-label text-right">Descripción</label>
                            <div class="col-sm-10">
            <textarea name="descripcion" id="descripcion" cols="10" rows="5" class="form-control">
                {{ cliente.description }}
            </textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10 ml-auto">
                                <button type="submit" class="btn btn-primary" name="guardarEmail">
                                    <i class="typcn typcn-location-arrow"></i>
                                    Editar
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    Editar cliente
{% endblock %}

