{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Entrena con nuestros videos</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row mb-2 bg-soft-info p-2">
                <div class="col-md-12">
                    <ul class="list-group list-group-horizontal">
                        {% for c in categorias %}
                            <li class="list-group-item">
                                <a href="{{ url('entrenamiento', {'categoria': c.nombre}) | lower }}">{{ c.nombre }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="row">
                {% for tutorial in tutoriales %}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ tutorial.nombre }}</h5>
                            </div>
                            <div class="card-body">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <!--
                                    <video class="embed-responsive-item"
                                           src="{{ asset('uploads/video/') ~ tutorial.url }}" width="" height="300"
                                           controls></video>
                                    -->
                                    <iframe width="560" height="315" src="{{ tutorial.youtube }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <p class="card-text text-muted mt-2">
                                    {{ tutorial.descripcion }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>no records found</p>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}

{% block title %}
    Entrenamiento
{% endblock %}

