{% extends 'base.html.twig' %}

{% block title %}
    Ver IPTV
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Demos Digital</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-group row">
                    <label for="usuarios_demos" class="col-sm-2 col-form-label text-right">Datos de acceso para generar Demos/Pruebas </label>
                        <div class="col-sm-10">
                            <strong>
                            http://reloaded-tv.xyz:5327/
                            <br>
                            usuario: resellers
                            <br>
                            contraseña: PvgAJxB2G5JvHRsfPH3jFy983th2J8
                            </strong>
                        </div>
                    </div>
                    {#
                    <div class="form-group row">
                        <label for="usuarios_demos" class="col-sm-2 col-form-label text-right">Usuarios</label>
                        <div class="col-sm-10">
                            <select name="usuarios" id="usuarios_demos" class="form-control">
                                {% for key, u in usuarios %}
                                    <option value="{{ key + 1 }}">{{ u }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="pass_demo" class="col-sm-2 col-form-label text-right">Contraseña demo</label>
                        <div class="col-sm-10">
                            <input type="text" value="{{ demos.password }}" id="pass_demo" class="form-control"
                                   disabled>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-10 ml-auto">
                            <p class="text-blue font-15">Ingresa las credenciales usuario y password, luego al boton
                                login para
                                crear tu demo por 2 horas.</p>
                        </div>
                    </div>
                    #}
                    <hr>
                    <div class="row">
                        <div class="col-md-10 ml-auto">
                            <p class="text-dark font-15">Descarga la aplicacion, como nunca antes visto. Pará Smart
                                tv,si tienes
                                algun problema
                                contacte a soporte whatsapp +505 81421833, => <a
                                        href="http://reloaded-tv.xyz:5327/login.php" target="_blank" class="btn btn-success"> Ingresa
                                    aqui si no visualizas la pagina de demos.</a>
                            </p>

                        </div>
                    </div>

                    <hr>
                    <div class="row font-13 mt-2">
                        <div class="col-md-2">
                            <i class="typcn typcn-vendor-android"></i>
                            Para Telefono Android:
                        </div>
                        <div class="col-md-10">
                            <strong>
                                <a href="https://play.google.com/store/apps/details?id=com.nst.iptvsmarterstvbox">
                                    <i class="typcn typcn-chevron-right-outline"></i> SMARTERS
                                    PRO</a>
                            </strong>

                            <strong>
                                <a href="https://www.apkfollow.com/app/es/xciptv-player/com.nathnetwork.xciptv/"><i
                                            class="typcn typcn-chevron-right-outline"></i> XCIPTV</a>
                            </strong>
                            <strong>
                                <a href="https://play.google.com/store/apps/details?id=com.duplexiptv&hl=es"><i
                                            class="typcn typcn-chevron-right-outline"></i> Duplex IPTV</a>
                            </strong>
                            <strong>
                                <a href="https://play.google.com/store/apps/details?id=com.crewjstreaming.crewjstreamingiptvbox&hl=es_419"><i
                                            class="typcn typcn-chevron-right-outline"></i> CREWJ
                                    STREAMING</a>
                            </strong>
                        </div>
                    </div>

                    <div class="row font-13 mt-2">
                        <div class="col-md-2">
                            <i class="typcn typcn-vendor-apple"></i>
                            Para Telefono iPhone:
                        </div>
                        <div class="col-md-10">
                            <strong>
                                <a href="https://apps.apple.com/us/app/247-iptv-player/id1419998058?l=es">
                                    <i class="typcn typcn-chevron-right-outline"></i> 24/7 IPTV Player
                                    PRO</a>
                            </strong>

                            <strong>
                                <a href="https://apps.apple.com/es/app/gse-smart-iptv/id1028734023"><i
                                            class="typcn typcn-chevron-right-outline"></i> GSE SMART IPTV </a>
                            </strong>
                            <strong>
                                <a href="https://apps.apple.com/us/app/cjs-tv/id1514577085"><i
                                            class="typcn typcn-chevron-right-outline"></i> CJS TV</a>
                            </strong>
                        </div>
                    </div>

                    <div class="row font-13 mt-2">
                        <div class="col-md-2">
                            <i class="typcn typcn-vendor-microsoft"></i>
                            Para Telefono Windows:
                        </div>
                        <div class="col-md-10">
                            <strong>
                                <a href="https://www.tv-extreme.com/windows-iptv-player/">
                                    <i class="typcn typcn-chevron-right-outline"></i> WDOS PLAYER 3.0
                                    PRO</a>
                            </strong>

                            <strong>
                                <a href="https://vlc-media-player.uptodown.com/windows"><i
                                            class="typcn typcn-chevron-right-outline"></i> VLC </a>
                            </strong>
                            <strong>
                                <a href="https://drive.google.com/file/d/1zjj0iPJWI6e8Jn2ASj8uS17GEcE4tkfm/view"><i
                                            class="typcn typcn-chevron-right-outline"></i> SMARTERS/64</a>
                            </strong>
                            <strong>
                                <a href="https://drive.google.com/file/d/16TAsagtuHaH69BhfgoWrWEbg0EdxOY3y/view"><i
                                            class="typcn typcn-chevron-right-outline"></i> SMARTERS/32</a>
                            </strong>
                            <strong>
                                <a href="https://es.ccm.net/download/descargar-33816-ip-tv-player"><i
                                            class="typcn typcn-chevron-right-outline"></i> IP-TV PLAYER</a>
                            </strong>
                        </div>
                    </div>

                    <div class="row mt-4 ">
                        <div class="col-12">
                            <p class="font-14 text-dark">
                                Solo poner el Usuario, contraseña y Url, ver los tutoriales de entrenamiento y apoyarse siempre con su patrocinador. Disfruta de la programación. Contacte a soporte al Whatsapp: +505 81421833
                            </p>
                        </div>
                        <div class="col-12">
                            <p class="font-14" style="color: red;">
                                Nota: Tambien puede pagar atraves de otros metodos de pagos como Paypal, Western Union o depositos contacte a su vendedor.
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}