{% extends 'base.html.twig' %}

{% block title %}
    Clientes
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a class="btn btn-light" href="{{ path('app_vendedorn') }}"><i style="font-size: 15px"
                                                                                   class="typcn typcn-chevron-left"></i>Regresar</a>
                    <a href="{{ path('cliente_registrar') }}" class="btn btn-primary">Nuevo</a>
                </div>
                <h4 class="page-title">Listado de clientes de la cuenta: {{ cuenta.username }}</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Email</th>
                                <th>Usuario</th>
                                <th>Contraseña</th>
                                <th>Celular</th>
                                <th>Fecha inicio</th>
                                <th>Fecha vencimiento</th>
                                {# <th>Usuario</th> #}
                                <th>Acciones</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for key, c in detalles %}
                                <tr>
                                    <td>{{ key + 1 }}</td>
                                    <td>{{ c.cliente.email }}</td>
                                    <td>{{ c.cliente.cliente }}</td>
                                    <td>{{ c.cliente.password }}</td>
                                    <td>{{ c.cliente.celular }}</td>
                                    <td>{{ c.cliente.createdClient|date('Y-m-d') }}</td>
                                    <td>{{ c.cliente.updateClient|date('Y-m-d') }}</td>
                                    {# <td>{{ c.user.email }}</td> #}
                                    <td>
                                        {# <a class="btn btn-secondary btn-sm"
                                           href="{{ path('cliente_show', {'id': c.id}) }}">
                                            <i class="typcn typcn-eye"></i>
                                        </a>
                                        <a class="btn btn-warning btn-sm"
                                           href="{{ path('cliente_edit', {'id': c.id}) }}">
                                            <i class="typcn typcn-pencil"></i>
                                        </a> #}
                                        {% if date(cuenta.vencimiento) >= date() %}
                                            {{ include('default/_mail.html.twig') }}
                                        {% endif %}
                                        <a class="btn btn-warning btn-sm"
                                           href="{{ path('app_vendedorn_cliente_editar', {'idcuenta': cuenta.id, 'id': c.cliente.id}) }}">
                                            <i class="typcn typcn-pencil"></i>
                                        </a>

                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="8">No hay clientes hay clientes en esta cuenta, prueba creando
                                        clientes.
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}