{% extends 'base.html.twig' %}

{% block title %}
    Patrocinador
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Mi patrocinador</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            {% if patrocinador.patrocinador.perfil %}
                <img src="{{ asset('uploads/perfil/') ~ patrocinador.patrocinador.perfil.foto }}" class="img-thumbnail"
                     alt="Perfil de mi patrocinador">
            {% else %}
                <img src="{{ asset('uploads/perfil/user-1.jpg') }}" class="img-thumbnail"
                     alt="Perfil de mi patrocinador">
            {% endif %}
        </div>

        <div class="col-md-8">
            <table class="table">
                <tr>
                    <th>Email</th>
                    <td>{{ patrocinador.patrocinador.email }}</td>
                </tr>

                <tr>
                    <th>Nombres</th>
                    <td>{{ patrocinador.patrocinador.firstName }}</td>
                </tr>

                <tr>
                    <th>Apellidos</th>
                    <td>{{ patrocinador.patrocinador.lastName }}</td>
                </tr>
                {% if patrocinador.patrocinador.perfil %}
                    <tr>
                        <th>WhatsApp</th>
                        <td>{{ patrocinador.patrocinador.perfil.whatsapp }}</td>
                    </tr>

                    <tr>
                        <th>Direccion</th>
                        <td>{{ patrocinador.patrocinador.perfil.direccion }}</td>
                    </tr>

                    <tr>
                        <th>Pais</th>
                        <td>{{ patrocinador.patrocinador.perfil.pais }}</td>
                    </tr>

                    <tr>
                        <th>Facebook</th>
                        <td>{{ patrocinador.patrocinador.perfil.urlFacebook }}</td>
                    </tr>


                    <tr>
                        <th>Instagram</th>
                        <td>{{ patrocinador.patrocinador.perfil.urlInstagram }}</td>
                    </tr>

                    <tr>
                        <th>Youtube</th>
                        <td>{{ patrocinador.patrocinador.perfil.urlYoutube }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}

