{% extends 'base.html.twig' %}

{% block title %}
    Elige un plan
{% endblock %}

{% block body %}
    <!--titulo-->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    Su saldo es: <span class="text-success font-weight-bold">${{ user.saldo }}</span>
                </div>
                <h4 class="page-title">Lista de planes que tenemos para tí</h4>
            </div>
        </div>
    </div> <!--end titulo-->
    <!-- Content -->
    <div class="row">
        {% for p in planes %}
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <form action="" method="post">
                            <div class="pricingTable1 text-center">

                                <input type="hidden" name="idplan" value="{{ p.id }}">
                                <h6 class="title1 py-3 m-0 text-center">Plan {{ p.nombre }}</h6>
                                <div class="text-center py-4">
                                    <h3 class="amount">${{ p.precio }} <small class="font-12 text-muted">/mes</small>
                                    </h3>
                                </div>
                                <ul class="list-unstyled pricing-content-2 py-3 border-0">
                                    <li>Clientes máximos {{ p.numeroClientes }}</li>
                                </ul>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-lg btn-primary">Solicitar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div> <!-- end Content -->

{% endblock %}

