{% extends 'base.html.twig' %}

{% block title %}
    Mi recarga
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('vendedor_recargas') }}">
                        <i style="font-size: 15px" class="typcn typcn-chevron-left"></i>
                        Regresar</a>
                </div>
                <h4 class="page-title">Detalle de recarga</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Fecha</th>
                            <td>{{ order.fecha | date }}</td>
                        </tr>
                        <tr>
                            <th>Saldo</th>
                            <td>{{ order.saldo }}</td>
                        </tr>
                        <tr>
                            <th>Voucher</th>
                            <td>
                                {% if order.url %}
                                    <img src="{{ asset('uploads/vourches/') ~ order.url }}" width="200" height="200"
                                         alt="Mi voucher">
                                {% else %}
                                    <p>No image</p>
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <th>Estado</th>
                            <td>{{ order.status }}</td>
                        </tr>

                        <tr>
                            <th>Acciones</th>
                            <td>
                                <a class="btn btn-danger btn-sm"
                                   href="#">Cancelar</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

