{% extends 'base.html.twig' %}

{% block title %}
    Mis recargas
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('vendedor_recargar') }}" class="btn btn-primary">Nueva recarga</a>
                </div>
                <h4 class="page-title">Listado de recargas</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered mb-0">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Fecha</th>
                            <th>Saldo</th>
                            <th>Voucher</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, orden in orders %}
                            <tr>
                                <td>{{ key + 1 }}</td>
                                <td>{{ orden.fecha | date }}</td>
                                <td>{{ orden.saldo }}</td>
                                <td>
                                    {% if orden.url %}
                                        <img src="{{ asset('uploads/vourches/') ~ orden.url }}" width="50" height="50"
                                             alt="Mi voucher">
                                    {% else %}
                                        <p>No image</p>
                                    {% endif %}
                                </td>
                                <td>{{ orden.status }}</td>
                                <td>
                                    <a class="btn btn-secondary btn-sm"
                                       href="{{ url('vendedor_recarga', {'id':orden.id}) }}">
                                        <i class="typcn typcn-eye"></i>
                                    </a>
                                    {% if orden.status != 'CANCELADO' %}
                                        <form method="post" style="display: inline-block"
                                              action="{{ path('vendedor_cancel_recarga', {'id': orden.id}) }}"
                                              onsubmit="return confirm('¿Realmente deseas cancelar, puede que ya se haya procesado?');">
                                            <input type="hidden" name="id" value="{{ orden.id }}">
                                            <button class="btn btn-danger btn-sm"><i class="typcn typcn-times"></i>
                                            </button>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

