{% extends 'base.html.twig' %}

{% block title %}
    Recargar saldo
{% endblock %}

{% block styles %}
    {{ parent() }}
    <link href="{{ asset('css/dropify.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('vendedor_recargas') }}">Ir a mis recargas</a>
                    <i style="font-size: 15px" class="typcn typcn-chevron-right"></i>
                </div>
                <h4 class="page-title">Su saldo es de: <span
                            class="text-success font-weight-bold">{{ rec.saldo }}</span></h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h6>Numero de cuenta: 0000-000-000-000</h6>
        </div>
    </div>

    <div class="row mt-4">
        <form action="" method="post" enctype="multipart/form-data" style="display: contents;">
            <div class="col-md-4">

                <input id="input-file-now" required type="file" class="dropify" name="voucher">

                <div>
                    <p class="text-blue text-center">Suba el voucher para procesar</p>
                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    <label for="saldo">Monto a recargar: </label>
                    <select name="saldo" class="form-control" id="saldo">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                    </select>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12 ml-auto">
                        <button type="submit" class="btn btn-primary">
                            <i class="typcn typcn-credit-card"></i>
                            Procesar recarga
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}

    <script src="{{ asset('js/dropify.min.js') }}"></script>
    <script src="{{ asset('js/jquery.form-upload.init.js') }}"></script>
{% endblock %}


