{% extends 'base.html.twig' %}

{% block title %}
    Crear nuevo cliente
{% endblock %}

{% block styles %}
    <link href="{{ asset('css/select2.min.css') }}" rel="stylesheet" type="text/css"/>
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('app_vendedorn') }}">
                        <i style="font-size: 15px" class="typcn typcn-chevron-left"></i>
                        Regresar</a>
                </div>
                <h4 class="page-title">Crear nuevo cliente</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    {% for message in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <form action="" method="post">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="usuario">Usuario</label>
                                    <select autocomplete="off" name="usuario" id="usuario"
                                            class="select2 form-control custom-select">
                                        <option value="" selected>Select</option>
                                        {% for c in cuentas %}
                                            <option value="{{ c.id ~ ' ' ~ c.password ~ ' ' ~ c.restante_cliente }}">{{ c.username }}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="hidden" name="idcuenta" id="idcuenta">
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="contra_cuenta" class="">Password</label>
                                    <input readonly type="text" name="contra_cuenta" id="contra_cuenta"
                                           class="form-control" required>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <label for="cant_cuenta">Restante cliente</label>
                                <input type="text" name="cant_cuenta" readonly id="cant_cuenta"
                                       class="form-control" required>
                            </div>
                        </div>

                        <hr>
                        <fieldset>
                            <div class="body-repetidor">
                            </div>
                            <div class="form-group mb-0 row">
                                <div class="col-sm-12">
                                    <button class="btn btn-secondary" type="button" id="btnRepetidor"><span
                                                class="fas fa-plus"></span> Agregar
                                    </button>
                                    <input type="submit" value="Guardar cliente" class="btn btn-primary">
                                </div><!--end col-->
                            </div><!--end row-->
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('js/select2.min.js') }}"></script>
    <script src="{{ asset('js/jquery.repeater.min.js') }}"></script>
    <script src="{{ asset('js/jquery.form-repeater.js') }}"></script>
    {# <script src="{{ asset('js/jquery.forms-advanced.js') }}"></script> #}
    <script>
        $(".select2").select2({
            width: '100%'
        });

        let contador = 1;
        let cantCuenta = 0;


        //--repetidor
        let _bodyRepetidor = $(".body-repetidor");
        let _btnRepetidor = $("#btnRepetidor");

        let _dataUsuario = $("#usuario");
        let _txtPassword = $("#contra_cuenta");
        let _txtRestCuenta = $("#cant_cuenta");
        let _txtIdCuenta = $("#idcuenta");

        _txtPassword.val('');
        _txtRestCuenta.val('');

        _dataUsuario.on('change', function (e) {
            e.preventDefault();
            let data = (_dataUsuario.val()).split(" ");
            cantCuenta = data[2];

            _txtIdCuenta.val(data[0]);
            _txtPassword.val(data[1]);
            _txtRestCuenta.val(data[2]);

            _bodyRepetidor.html("");
            console.log("entro....")
        });

        _btnRepetidor.click(function (e) {
            e.preventDefault();

            if (cantCuenta > 0) {
                if (cantCuenta >= contador) {
                    if (_txtRestCuenta !== '' && _txtRestCuenta !== null) {

                        let html = `
<div id="js-row-${contador}">
 <div class="form-group row d-flex align-items-end">
    <div class="col-md-5">
        <label class="control-label" for="email">(*)Email</label>
        <input type="email" name="email[]" id="email-${contador}"
               class="form-control" required>
    </div>
    <div class="col-md-5">
        <label for="celular" class="control-label">(*)Celular</label>
        <input type="text" name="celular[]" id="celular-${contador}"
               class="form-control" required>
    </div>

    <div class="col-sm-1">
    <button class="btn btn-danger btn-sm" onclick="removeItem(${contador})">
        <span class="far fa-trash-alt mr-1"></span> Eliminar
    </button>
    </div>
 </div>

<div class="form-group row d-flex align-items-end">
    <div class="col-md-4">
        <label for="nombre" class="control-label">Nombres</label>
        <input type="text" name="nombre[]" id="nombre-${contador}"
        class="form-control">
    </div>
    <div class="col-md-4">
        <label for="apellido" class="control-label">Apellidos</label>
        <input type="text" name="apellido[]" id="apellido-${contador}"
        class="form-control">
    </div>

    <div class="col-md-3">
        <label for="descripcion"
        class="control-label">Descripción</label>
        <input type="text" class="form-control" name="descripcion[]"
        id="descripcion-${contador}">
    </div>
</div>
</div>
            `;
                        _bodyRepetidor.append(html);
                        contador++;
                    }

                } else {
                    alert(`Esta cuenta solo tiene limite de: ${cantCuenta} 😀`);
                    return;
                }

                if (contador > cantCuenta) {
                    alert(`Esta cuenta solo tiene limite de: ${cantCuenta} 😀`);
                    return;
                }
            } else {
                alert("No hay sufuciente cantidad de cliente para esta cuenta seleccione otro 😀");
            }
        });

        function addItem() {

        }

        function removeItem(contadors) {
            let row = $("#js-row-" + contadors);
            row.remove();
            contador--;
        }

    </script>
{% endblock %}