{% extends 'base.html.twig' %}

{% block title %}
    Ver cliente
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('cliente') }}">
                        <i style="font-size: 15px" class="typcn typcn-chevron-left"></i>
                        Regresar</a>
                </div>
                <h4 class="page-title">Cliente: {{ cliente.email }}</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Email</th>
                            <td>{{ cliente.email }}</td>
                        </tr>
                        <tr>
                            <th>Nombres</th>
                            <td>{{ cliente.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Apellidos</th>
                            <td>{{ cliente.apellido }}</td>
                        </tr>
                        <tr>
                            <th>Descripción</th>
                            <td>{{ cliente.description }}</td>
                        </tr>

                        {#<tr>
                            <th>Estado</th>
                            <td>{% if tutorial.estado %}
                                    <span class="badge badge-soft-success">Activo</span>
                                {% else %}
                                    <span class="badge-soft-danger">Desactivo</span>
                                {% endif %}</td>
                        </tr>#}
                        <tr>
                            <th>Acciones</th>
                            <td>
                                <a class="btn btn-warning btn-sm"
                                   href="{{ path('cliente_edit', {'id': cliente.id}) }}">Editar</a>
                                {#{{ include('tutorial/_delete_form.html.twig') }}#}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

