{% extends 'base.html.twig' %}

{% block title %}
    Clientes
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('vendedor_registrar') }}" class="btn btn-primary">Nuevo</a>
                </div>
                <h4 class="page-title">Listado de revendedores</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    {% if vendedores %}
                        <table class="table table-bordered mb-0">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Email</th>
                                <th>Nombres</th>
                                <th>Whatsapp</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, ven in vendedores %}
                                <tr>
                                    <td>{{ key + 1 }}</td>
                                    <td>{{ ven.email }}</td>
                                    <td>{{ ven.first_name ~ '' ~ ven.last_name }}</td>
                                    <td>{{ ven.whatsapp }}</td>
                                    <td>
                                        <a class="btn btn-secondary btn-sm"
                                           href="{{ url('vendedor_show', {'id':ven.id}) }}">
                                            <i class="typcn typcn-eye"></i>
                                        </a>
                                        <a class="btn btn-warning btn-sm"
                                           href="{{ url('vendedor_editar', {'id':ven.id}) }}">
                                            <i class="typcn typcn-pencil"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No hay vendedores, empieza pulsando en el boton nuevo :)</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}