{% extends 'base.html.twig' %}

{% block title %}
    Registrar revendedor
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('vendedores') }}">
                        <i style="font-size: 15px" class="typcn typcn-chevron-left"></i>
                        Regresar</a>
                </div>
                <h4 class="page-title">Registrar nuevo revendedor</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">

                    {% for message in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% if pass %}
                        <form action="" method="post">
                            <div class="form-group row">
                                <label for="email" class="col-sm-2 col-form-label text-right">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" name="email" id="email" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-sm-2 col-form-label text-right">Contraseña</label>
                                <div class="col-sm-10">
                                    <input type="password" name="password" id="password" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="repeatPassword" class="col-sm-2 col-form-label text-right">Repita la
                                    contraseña</label>
                                <div class="col-sm-10">
                                    <input type="password" name="repeatPassword" id="repeatPassword"
                                           class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="repeatPassword" class="col-sm-2 col-form-label text-right">Estado</label>
                                <div class="col-sm-10">
                                    <label>
                                        <input type="checkbox" name="status" checked>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-10 ml-auto">
                                    <input type="submit" class="btn btn-success"
                                           value="{{ button_label|default('Guardar') }}">
                                </div>
                            </div>
                        </form>
                    {% else %}
                        <div class="alert alert-danger">
                            Por favor recargue su saldo para crear vendedores 😃
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

