{% extends 'base.html.twig' %}

{% block title %}
    Editar vendedor
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('vendedores') }}">
                        <i style="font-size: 15px" class="typcn typcn-chevron-left"></i>
                        Regresar</a>
                </div>
                <h4 class="page-title">Editar {{ user.email }}</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    {% for message in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}

                    <form action="" method="post">
                        <div class="form-group row">
                            <label for="email" class="col-sm-2 col-form-label text-right">* Email</label>
                            <div class="col-sm-10">
                                <input type="email" name="email" id="email"
                                       value="{{ user.email }}"
                                       class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10 ml-auto">
                                <button type="submit" class="btn btn-primary" name="guardarEmail">
                                    <i class="typcn typcn-location-arrow"></i>
                                    Editar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

