{% extends 'base.html.twig' %}

{% block title %}
    Mostrar vendedor
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('vendedores') }}">
                        <i style="font-size: 15px" class="typcn typcn-chevron-left"></i>
                        Regresar</a>
                </div>
                <h4 class="page-title">Vendedor: {{ user.email }}</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Email</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>Nombres</th>
                            <td>{{ user.firstName }}</td>
                        </tr>
                        <tr>
                            <th>Apellidos</th>
                            <td>{{ user.lastName }}</td>
                        </tr>

                        <tr>
                            <th>WhatsApp</th>
                            <td>{{ user.perfil.whatsapp }}</td>
                        </tr>

                        <tr>
                            <th>Acciones</th>
                            <td>
                                <a class="btn btn-warning btn-sm"
                                   href="{{ path('vendedor_editar', {'id': user.id}) }}">Editar</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

