<form method="post" style="display: inline-block" action="{{ path('tutorial_delete', {'id': tutorial.id}) }}"
      onsubmit="return confirm('¿Deseas realmente eliminar?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tutorial.id) }}">
    <button class="btn btn-danger btn-sm">Eliminar</button>
</form>
