{% set base_asset = asset('uploads/video/') %}
{{ form_start(form) }}
<div class="form-group row">
    {{ form_label(form.nombre, null ,{'label_attr':{'class':'col-sm-2 col-form-label text-right'}}) }}
    <div class="col-sm-10">
        {{ form_widget(form.nombre) }}
    </div>
</div>

<div class="form-group row">
    {{ form_label(form.descripcion, null ,{'label_attr':{'class':'col-sm-2 col-form-label text-right'}}) }}
    <div class="col-sm-10">
        {{ form_widget(form.descripcion) }}
    </div>
</div>

<!-- Mio -->
<div class="form-group row">
    {{ form_label(form.youtube, null ,{'label_attr':{'class':'col-sm-2 col-form-label text-right'}}) }}
    <div class="col-sm-10">
        {{ form_widget(form.youtube) }}
    </div>
</div>
<!-- Fin Mio -->

<!--
<div class="form-group row">
    {{ form_label(form.url, null ,{'label_attr':{'class':'col-sm-2 col-form-label text-right'}}) }}
    <div class="col-sm-10">
        {{ form_widget(form.url, {'attr': {'value':  base_asset ~ tutorial.url } }) }}
    </div>
</div>
-->
<div class="form-group row">
    <label for="" class="col-sm-2 col-form-label text-right"></label>
    <div class="col-sm-10">
        {% if tutorial.url %}
            <video src="{{ asset('uploads/video/') ~ tutorial.url }}" width="200" height="200" controls></video>
        {% endif %}
    </div>

</div>
<div class="form-group row">
    {{ form_label(form.estado, null ,{'label_attr':{'class':'col-sm-2 col-form-label text-right'}}) }}
    <div class="col-sm-10">
        {{ form_widget(form.estado) }}
    </div>
</div>

<div class="form-group row">
    {{ form_label(form.category, null ,{'label_attr':{'class':'col-sm-2 col-form-label text-right'}}) }}
    <div class="col-sm-10">
        {{ form_widget(form.category) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-10 ml-auto">
        <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>
    </div>

</div>


{{ form_end(form) }}
