{% extends 'base.html.twig' %}

{% block title %}Tutorial{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('tutorial_new') }}" class="btn btn-primary">Nuevo</a>
                </div>
                <h4 class="page-title">Tutoriales</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered mb-0">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Categoría</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tutorial in tutorials %}
                            <tr>
                                <td>{{ tutorial.id }}</td>
                                <td>{{ tutorial.nombre }}</td>
                                <td>{{ tutorial.category }}</td>
                                <td>
                                    {% if tutorial.estado %}
                                        <span class="badge badge-soft-success">Activo</span>
                                    {% else %}
                                        <span class="badge-soft-danger">Desactivo</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-secondary btn-sm" href="{{ path('tutorial_show', {'id': tutorial.id}) }}">
                                        <i class="typcn typcn-eye"></i>
                                    </a>
                                    <a  class="btn btn-warning btn-sm" href="{{ path('tutorial_edit', {'id': tutorial.id}) }}">
                                        <i class="typcn typcn-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
