{% extends 'base.html.twig' %}

{% block title %}Tutorial{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('tutorial_index') }}">
                        <i style="font-size: 15px" class="typcn typcn-chevron-left"></i>
                        Regresar</a>
                </div>
                <h4 class="page-title">Tutorial: {{ tutorial.nombre }}</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ tutorial.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Descripción</th>
                            <td>{{ tutorial.descripcion }}</td>
                        </tr>
                        <tr>
                            <th>Video</th>
                            <td>
                                <!--
                                <video width="300" height="300" src="{{ asset('uploads/video/') ~ tutorial.url }}"
                                       controls></video>
                                -->
                                <iframe width="560" height="315" src="{{ tutorial.youtube }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </td>
                        </tr>
                        <tr>
                            <th>Estado</th>
                            <td>{% if tutorial.estado %}
                                    <span class="badge badge-soft-success">Activo</span>
                                {% else %}
                                    <span class="badge-soft-danger">Desactivo</span>
                                {% endif %}</td>
                        </tr>
                        <tr>
                            <th>Categoría</th>
                            <td>{{ tutorial.category }}</td>
                        </tr>

                        <tr>
                            <th>Acciones</th>
                            <td>
                                <a class="btn btn-warning btn-sm"
                                   href="{{ path('tutorial_edit', {'id': tutorial.id}) }}">Editar</a>
                                {{ include('tutorial/_delete_form.html.twig') }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
