{% extends 'base.html.twig' %}

{% block title %}Bandeja de entrada{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                </div>
                <h4 class="page-title">Mis Mensajes</h4>
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered mb-0">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Foto</th>
                            <th>Email</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, u in users %}
                            <tr>
                                <td>{{ key + 1 }}</td>
                                <td>
                                    {% if u.perfil.foto %}
                                        <img src="{{ asset('uploads/perfil/' ~ u.perfil.foto) }}" alt="user"
                                             class="rounded-circle thumb-md">
                                    {% else %}
                                        <img src="{{ asset('img/user-8.jpg') }}" alt="user"
                                             class="rounded-circle thumb-md">
                                    {% endif %}

                                </td>
                                <td>{{ u.email }}</td>

                                <td>
                                    <a class="btn btn-secondary btn-sm"
                                       href="{{ path('app_message_show', {'id': u.id}) }}">
                                        <i class="typcn typcn-eye"></i>
                                    </a>
                                    <a class="btn btn-primary btn-sm"
                                       href="{{ path('app_message_nuevo', {'id': u.id}) }}">
                                        <i class="typcn typcn-plus"></i>
                                    </a>
                                    {# <a class="btn btn-warning btn-sm"
                                       href="{{ path('tutorial_edit', {'id': tutorial.id}) }}">
                                    </a> #}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">No hay mensajes todabía</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- end col -->
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}

    <script>
        let bodyMessages = $("#js-body-messages");

        function pedirInfo(id) {
            let url = "https://localhost:8000/admin/messages/" + id
            $.ajax({
                url: '',
                data: {},
                type: 'GET',
                dataType: 'json',
                success: function (json) {


                    llenarInformacion();
                },
                error: function (xhr, status) {
                    console.log('No se pudo cargar los mensajes')
                }
            });
        }

        function llenarInformacion(foto, email, remitente, descripcion) {
            let url = null;
            if (foto !== null && foto !== '') {
                url = foto;
            } else {
                url = null;
            }
            let html = `
            <div class="chat-header">
                    <a href="" class="media">
                        <div class="media-left">`;
            if (url !== null) {
                html += `<img src="{{ asset('uploads/perfil/') }}${url}" alt="user" class="rounded-circle thumb-md">`
            } else {
                html += `<img src="{{ asset('img/user-8.jpg') }}${url}" alt="user" class="rounded-circle thumb-md">`
            }

            html += `
                        </div>
                        <div class="media-body">
                            <div>
                                <h6 class="mb-1 mt-0">${email}</h6>
                                <p class="mb-0">Remitente: ${remitente}</p>
                            </div>
                        </div>
                    </a>
                    <div class="chat-features">
                        <div class="d-none d-sm-inline-block">
                            <a href=""><i class="fas fa-trash-alt"></i></a>
                            <a href=""><i class="fas fa-ellipsis-v"></i></a>
                        </div>
                    </div>
                </div>
                <div class="chat-body ">
                    <div class="chat-detail slimscroll">
                    ${descripcion}
                    </div>
                </div>`;

            bodyMessages.append(html);
        }
    </script>
{% endblock %}
