{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                </div>
                <h4 class="page-title">Mensajes de: {{ user.email }}</h4>
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered mb-0">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Titulo</th>
                            <th>Descripcion</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, m in mensajes %}
                            <tr>
                                <td>{{ key + 1 }}</td>
                                <td>
                                    {{ m.titulo }}
                                </td>
                                <td>{{ m.descripcion }}</td>
                                <td>{{ m.estado }}</td>

                                <td>
                                    {# <a class="btn btn-secondary btn-sm"
                                       href="#">
                                        Ver mensajes
                                    </a> #}
                                    {# <a class="btn btn-warning btn-sm"
                                       href="{{ path('tutorial_edit', {'id': tutorial.id}) }}">
                                    </a> #}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">No hay mensajes todabía</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- end col -->
    </div>
{% endblock %}

