{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                </div>
                <h4 class="page-title">Nuevo mensaje para: {{ user.email }}</h4>
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form action="" method="post">
                        <div class="form-group row">
                            <label for="titulo" class="col-sm-2 col-form-label text-right">(*)Titulo:</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="titulo" id="titulo">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="remitente" class="col-sm-2 col-form-label text-right">(*)Remitente:</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="remitente" value="Administrador"
                                       id="remitente" readonly>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="descripcion" class="col-sm-2 col-form-label text-right">(*)Descripcion:</label>
                            <div class="col-md-10">
                                <textarea class="form-control" name="descripcion" id="descripcion" cols="30"
                                          rows="5"></textarea>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-10 ml-auto">
                                <button type="submit" class="btn btn-success">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> <!-- end col -->
    </div>
{% endblock %}


