{% block subject 'Accesos para tu cable' %}

{% block text %}
    Puedes acceder a tu cable con estas credenciales:
{% endblock %}

{% block html %}
    <p>email: {{ email }}</p>
    <p>pasword: {{ password }}</p>
{% endblock %}