<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

    <!-- App css -->
    {% block styles %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('css/icons.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('css/metisMenu.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css"/>
    {% endblock %}
</head>
<body>

<!-- Top Bar Start -->
<div class="topbar">
    <!-- LOGO -->
    <div class="topbar-left">
        <a href="#" class="logo">
            <span class="font-16 font-weight-bold">
                4kgoiptv
            </span>
        </a>
    </div>
    <!--end logo-->
    <!-- Navbar -->
    <nav class="navbar-custom">
        <ul class="list-unstyled topbar-nav float-right mb-0">

            <li class="dropdown notification-list">
                <a onclick="viewNotification()" class="nav-link dropdown-toggle arrow-none waves-light waves-effect"
                   data-toggle="dropdown" href="#"
                   role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <i class="dripicons-bell noti-icon"></i>
                    <span class="badge badge-danger badge-pill noti-icon-badge" id="js-num-notificacion"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-lg">
                    <!-- item-->
                    <h6 class="dropdown-item-text">
                        Notifications <span id="js-body-num-notificacion"></span>
                    </h6>
                    <!-- item-->
                    <div class="slimscroll notification-list" id="js-list-notificacion">
                        {# <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>
                                <p class="notify-details">Your order is placed<small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
                            </a> #}
                    </div>

                    <!-- All-->
                    <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
                        View all <i class="fi-arrow-right"></i>
                    </a>

                </div>
            </li>

            <li class="dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#"
                   role="button"
                   aria-haspopup="false" aria-expanded="false">
                    {% if app.user.perfil %}
                        {% if app.user.perfil.foto %}
                            <img src="{{ asset('uploads/perfil/') ~ app.user.perfil.foto }}" alt="Profile user"
                                 class="rounded-circle">
                        {% else %}
                            <img src="{{ asset('uploads/perfil/user-1.jpg') }}" alt="Profile user">
                        {% endif %}
                    {% else %}
                        <img src="{{ asset('uploads/perfil/user-1.jpg') }}" alt="Profile user">
                    {% endif %}
                    <span class="ml-1 nav-user-name hidden-sm">{{ app.user.firstName }} <i
                                class="mdi mdi-chevron-down"></i> </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="{{ url('user_profile') }}" class="dropdown-item">Perfil</a>
                    <a href="{{ url('app_logout') }}" class="dropdown-item bg-light">Salir</a>
                </div>
            </li>
        </ul><!--end topbar-nav-->

        <ul class="list-unstyled topbar-nav mb-0">
            <li>
                <button class="button-menu-mobile nav-link waves-effect waves-light">
                    <i class="dripicons-menu nav-icon"></i>
                </button>
            </li>
        </ul>
    </nav>
    <!-- end navbar-->
</div>
<!-- Top Bar End -->

<div class="page-wrapper">
    <!-- Left Sidenav -->
    {% if is_granted('ROLE_ADMIN') %}
        {% include 'paneladmin.html.twig' %}
    {% elseif is_granted('ROLE_REVENDEDOR') %}
        {% include 'panelvendedor.html.twig' %}
    {% endif %}
    <!-- end left-sidenav-->

    <!-- Page Content-->
    <div class="page-content">
        <div class="container-fluid">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}

            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
        <!-- container -->
        <footer class="footer text-center text-sm-left">
            &copy; {{ date()|date('Y') }} <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i
                        class="mdi mdi-heart text-danger"></i> by Symfony</span>
        </footer><!--end footer-->
    </div>
    <!-- end page content -->
</div>
<!-- end page-wrapper -->

{% block scripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/metismenu.js') }}"></script>
    <script src="{{ asset('js/waves.js') }}"></script>
    <script src="{{ asset('js/jquery.slimscroll.js') }}"></script>

    <script src="{{ asset('js/feather.js') }}"></script>
    {# <script src="{{ asset('js/dropify.js') }}"></script> #}


    <script src="{{ asset('js/app.js') }}"></script>
    <script>
        let cantNotificaciones = $("#js-num-notificacion");
        let catnBodyNotificaciones = $("#js-body-num-notificacion");
        let listNotificaciones = $("#js-list-notificacion");
        $.ajax({
            url: 'https://127.0.0.1:8000/notificaciones',
            method: 'GET',
            success: function (json) {
                let data = json;
                cantNotificaciones.append(json.length)
                catnBodyNotificaciones.append(json.length)
                for (let i = 0; i < data.length; i++) {
                    addItem(data[i].titulo, data[i].descripcion)
                }
            },
            error: function (error) {
                console.log(error)
            }
        })

        function addItem(titulo, descripcion) {
            let html = `
            <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>
                            <p class="notify-details mb-2">${titulo}<small class="text-muted">${descripcion}</small></p>
                        </a>
            `;
            listNotificaciones.append(html);
        }

        function viewNotification() {
            $.ajax({
                url: 'https://127.0.0.1:8000/notificaciones/visto',
                method: 'GET',
                success: function (json) {
                    console.log(json);
                },
                error: function (error) {
                    console.log(error)
                }
            })
        }

    </script>
{% endblock %}
</body>
</html>
