<!-- Left Sidenav -->
<div class="left-sidenav">
    <div class="metismenu left-sidenav-menu">

        <div class="title-box active ">
            <h6 class="menu-title font-weight-bold text-primary">Bandeja de Entrada</h6>
        </div>
        <ul class="nav in mm-show">
            <li class="nav-item">
                <a href="{{ url('app_message') }}" class="nav-link"><i class="ti-control-record"></i>Mensajes</a>
            </li>
        </ul>

        <div class="title-box active ">
            <h6 class="menu-title font-weight-bold text-primary">Pedidos</h6>
        </div>
        <ul class="nav in mm-show">
            <li class="nav-item">
                <a href="{{ url('pedidos') }}" class="nav-link"><i class="ti-control-record"></i>Recargas</a>
            </li>

            <li class="nav-item">
                <a href="{{ url('pedidos_cuentas') }}" class="nav-link"><i class="ti-control-record"></i>Nuevas cuentas</a>
            </li>
        </ul>

        <div class="title-box active">
            <h6 class="menu-title font-weight-bold text-primary">Usuarios</h6>
        </div>
        <ul class="nav in mm-show">

            <li class="nav-item">
                <a href="{{ url('admin_cliente_vence') }}" class="nav-link"><i class="ti-control-record"></i>Clientes
                    por vencer</a>
            </li>

            <li class="nav-item">
                <a href="{{ url('app_vendedor') }}" class="nav-link">
                    <i class="ti-control-record"></i>Cuentas Vendedor</a>
            </li>

            <li class="nav-item">
                <a href="{{ url('user_vendedor') }}" class="nav-link"><i class="ti-control-record"></i>Vendedor</a>
            </li>

            <li class="nav-item">
                <a href="{{ url('admin_cliente') }}" class="nav-link"><i class="ti-control-record"></i>Clientes (Legacy)</a>
            </li>


        </ul>

        <div class="title-box active">
            <h6 class="menu-title font-weight-bold text-primary">
                Configuraciones</h6>
        </div>
        <ul class="nav in mm-show">

            <li class="nav-item">
                <a href="{{ url('configuracion') }}" class="nav-link"><i class="ti-control-record"></i>Generales</a>
            </li>

            <li class="nav-item">
                <a href="{{ url('plan') }}" class="nav-link">
                    <i class="ti-control-record"></i>Planes</a>
            </li>

            <li class="nav-item">
                <a href="{{ url('categoria_index') }}" class="nav-link">
                    <i class="ti-control-record"></i>Categorías</a>
            </li>


            <li class="nav-item">
                <a href="#" class="nav-link"><i class="ti-control-record"></i>Sub Categorías</a>
            </li>
            <li class="nav-item">
                <a href="{{ url('tutorial_index') }}" class="nav-link"><i class="ti-control-record"></i>Tutoriales</a>
            </li>

        </ul>


    </div>
</div>
<!-- end left-sidenav-->
