<!-- Left Sidenav -->
<div class="left-sidenav">
    <div class="metismenu left-sidenav-menu">
        <ul class="nav in mm-show">
            <div class="title-box active">
                <h6 class="menu-title font-weight-bold text-primary">
                    Datos</h6>
            </div>
            <li class="nav-item">
                <a href="{{ url('user_profile') }}" class="nav-link">
                    <i class="ti-control-record"></i>Mi perfil
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ url('app_vendedorn') }}" class="nav-link">
                    <i class="ti-control-record"></i>Mis cuentas
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ url('app_vendedor_clientes_anterior') }}" class="nav-link">
                    <i class="ti-control-record"></i>Clientes Anteriores
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ url('patrocinador') }}" class="nav-link">
                    <i class="ti-control-record"></i>Patrocinador
                </a>
            </li>

            <div class="title-box active">
                <h6 class="menu-title font-weight-bold text-primary">
                    Planes y Recargas</h6>
            </div>
            <li class="nav-item">
                <a href="{{ url('app_vendedor_solicitar_cuenta') }}" class="nav-link">
                    <i class="ti-control-record"></i>Planes
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url('vendedor_recargar') }}" class="nav-link"><i class="ti-control-record"></i>Recarga tu
                    cuenta</a>
            </li>

            <div class="title-box active">
                <h6 class="menu-title font-weight-bold text-primary">
                    Entrenate</h6>
            </div>
            <li class="nav-item">
                <a href="{{ url('ver_iptv') }}" class="nav-link">
                    <i class="ti-control-record"></i>Ver IPTV
                </a>
            </li>

            <li class="nav-item">
                <a href="{{ url('entrenamiento') }}" class="nav-link">
                    <i class="ti-control-record"></i>Entrenamiento
                </a>
            </li>

            <div class="title-box active">
                <h6 class="menu-title font-weight-bold text-primary">
                    Crea Vendedores</h6>
            </div>

            <li class="nav-item">
                <a href="{{ url('vendedores') }}" class="nav-link"><i class="ti-control-record"></i>Vendedores</a>
            </li>

        </ul>


    </div>
</div>
<!-- end left-sidenav-->

