{% extends 'base.html.twig' %}

{% block title %}Configuracione Generales{% endblock %}

{% block body %}

    {% if config == null %}
        {% set id = 0 %}
        {% set precio_vendedor = 0 %}
    {% else %}
        {% set id = config.id %}
        {% set precio_vendedor = config.precioUsuario %}
    {% endif %}

    <!--titulo-->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a class="btn btn-primary" href="{{ path('admin_plan_nuevo') }}">
                        Nuevo Plan</a>
                </div>
                <h4 class="page-title">Configuraciones Generales</h4>
            </div>
        </div>
    </div> <!--end titulo-->
    <!-- Content -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form action="" method="post">
                        <input type="hidden" name="id" value="{{ id }}">
                        <div class="form-group row">
                            <label for="precio_vendedor" class="col-sm-3 col-form-label text-right">(*)Precio de cuentas
                                vendedor</label>
                            <div class="col-md-4">
                                <input type="text" value="{{ precio_vendedor }}" name="precio_vendedor"
                                       id="precio_vendedor"
                                       class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-9 ml-auto">
                                <button class="btn btn-success">Guardar</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- end Content -->
{% endblock %}
