{% extends 'base.html.twig' %}

{% block title %}Edit SubCategoria{% endblock %}

{% block body %}
    <h1>Edit SubCategoria</h1>

    {{ include('sub_categoria/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sub_categoria_index') }}">back to list</a>

    {{ include('sub_categoria/_delete_form.html.twig') }}
{% endblock %}
