{% extends 'base.html.twig' %}

{% block title %}SubCategoria index{% endblock %}

{% block body %}
    <h1>SubCategoria index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sub_categorium in sub_categorias %}
            <tr>
                <td>{{ sub_categorium.id }}</td>
                <td>{{ sub_categorium.nombre }}</td>
                <td>
                    <a href="{{ path('sub_categoria_show', {'id': sub_categorium.id}) }}">show</a>
                    <a href="{{ path('sub_categoria_edit', {'id': sub_categorium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sub_categoria_new') }}">Create new</a>
{% endblock %}
