{% extends 'base.html.twig' %}

{% block title %}New SubCategoria{% endblock %}

{% block body %}
    <h1>Create new SubCategoria</h1>

    {{ include('sub_categoria/_form.html.twig') }}

    <a href="{{ path('sub_categoria_index') }}">back to list</a>
{% endblock %}
