{% extends 'base.html.twig' %}

{% block title %}SubCategoria{% endblock %}

{% block body %}
    <h1>SubCategoria</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sub_categorium.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ sub_categorium.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sub_categoria_index') }}">back to list</a>

    <a href="{{ path('sub_categoria_edit', {'id': sub_categorium.id}) }}">edit</a>

    {{ include('sub_categoria/_delete_form.html.twig') }}
{% endblock %}
