<form method="post" style="display: inline-block" action="{{ path('pedidos_cuenta_eliminar', {'id': c.id}) }}"
      onsubmit="return confirm('¿Realmente deseas eliminar?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ c.id) }}">
    <button class="btn btn-danger btn-sm"><i class="typcn typcn-times"></i></button>
</form>
