{% extends 'base.html.twig' %}

{% block title %}
    Activar cuenta
{% endblock %}
{% block body %}
    <!--titulo-->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('pedidos_cuentas') }}">
                        <i style="font-size: 15px" class="typcn typcn-chevron-left"></i>
                        Regresar</a>
                </div>
                <h4 class="page-title">Activar la cuenta para: <span class="text-danger">{{ cuenta.user.email }}</span>
                </h4>
            </div>
        </div>
    </div> <!--end titulo-->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="precio">Nombre del plan: </label>
                                <input type="text" readonly class="form-control" value="{{ cuenta.plan.nombre }}">
                            </div>

                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="precio">Costo de las cuentas: </label>
                                <input type="text" readonly class="form-control" value="{{ cuenta.plan.precio }}">
                            </div>

                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="numero">Cantidad de clientes: </label>
                                <input type="text" readonly class="form-control"
                                       value="{{ cuenta.plan.numeroClientes }}">
                            </div>
                        </div>

                    </div>
                    <form action="" method="post">
                        <div class="form-group row">
                            <label for="username" class="col-sm-2 col-form-label text-right">
                                * Usuario
                            </label>
                            <div class="col-md-6">
                                <input type="text" id="username" name="username" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-sm-2 col-form-label text-right">
                                * Contraseña
                            </label>
                            <div class="col-md-6">
                                <input type="text" id="username" name="password" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-10 ml-auto">
                                <button type="submit" class="btn btn-success">
                                    <i class="typcn typcn-location-arrow"></i>Guardar y Enviar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


