{% extends 'base.html.twig' %}

{% block title %}Pedidos de recargas{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('categoria_new') }}" class="btn btn-primary">Nuevo</a>
                </div>
                <h4 class="page-title">Pedidos de recargas</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="" method="get">

                        <div class="row mb-4">
                            <div class="col-md-4">
                                <select name="status" id="" class="form-control">
                                    <option value="" selected>Seleccione</option>
                                    <option value="EN ESPERA">EN ESPERA</option>
                                    <option value="ACEPTADO">ACEPTADO</option>
                                    <option value="RECHAZADO">RECHAZADO</option>
                                    <option value="CANCELADO">CANCELADO</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <button type="submit" class="btn btn-info">Buscar</button>
                            </div>
                        </div>

                    </form>
                    <div class="table-responsive mb-4">
                        <table class="table table-bordered mb-0">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Fecha</th>
                                <th>Saldo</th>
                                <th>Voucher</th>
                                <th>Estado</th>
                                <th>Usuario</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, order in paginator.results %}
                                <tr>
                                    <td>
                                        {% if order.status == 'EN ESPERA' %}
                                            <a href="{{ url('orden_active', {'id':order.id}) }}"
                                               class="btn btn-success btn-sm">
                                                <i class="typcn typcn-tick"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>{{ order.fecha | date }}</td>
                                    <td>{{ order.saldo }}</td>
                                    <td>
                                        {% if order.url %}
                                            <div class="contendor">
                                                <input type="checkbox" id="zoomCheck {{ key }}">
                                                <label for="zoomCheck {{ key }}">
                                                    <img id="myImg" src="{{ asset('uploads/vourches/') ~ order.url }}"
                                                         width="50"
                                                         height="50"
                                                         alt="Mi voucher">
                                                </label>
                                            </div>
                                        {% else %}
                                            <p>No image</p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if order.status == 'EN ESPERA' %}
                                            <span class="badge badge-warning">EN ESPERA</span>
                                        {% elseif order.status == 'ACEPTADO' %}
                                            <span class="badge badge-success">ACEPTADO</span>
                                        {% elseif order.status == 'RECHAZADO' %}
                                            <span class="badge badge-info">RECHAZADO</span>
                                        {% elseif order.status == 'CANCELADO' %}
                                            <span class="badge badge-danger">CANCELADO</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ order.user.email }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex justify-content-center">
                        {% if paginator.hasToPaginate %}
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    {% if paginator.hasPreviousPage %}
                                        <li class="page-item"><a
                                                    href="{{ path('pedidos', {page: paginator.previousPage}) }}"
                                                    rel="previous" class="page-link">Previous
                                            </a></li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a href="#" tabindex="-1" class="page-link">Previous</a>
                                        </li>
                                    {% endif %}

                                    {% for i in 1..paginator.lastPage %}
                                        {% if i == paginator.currentPage %}
                                            <li class="page-item active">
                                                <a class="page-link"
                                                   href="{{ path('pedidos', {page: i}) }}">{{ i }}</a>
                                            </li>
                                        {% else %}
                                            <li><a class="page-link"
                                                   href="{{ path('pedidos', {page: i}) }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if paginator.hasNextPage %}
                                        <li class="page-item next"><a
                                                    href="{{ path('pedidos', {page: paginator.nextPage}) }}"
                                                    rel="next" class="page-link">Next</a></li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a href="#" class="page-link">Next</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <style>
        .contendor input[type=checkbox] {
            display: none;
        }

        .contendor img {
            transition: transform 0.25s ease;
            cursor: zoom-in;
        }

        .contendor input[type=checkbox]:checked ~ label > img {
            transform: scale(8);
            cursor: zoom-out;
            z-index: 99999;
        }
    </style>
{% endblock %}
