{% extends 'base.html.twig' %}

{% block title %}
    Activar solicitudes de cuentas
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Pedidos de nuevas cuentas (TV)</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive mb-4">
                        <table class="table table-bordered mb-0">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Usuario</th>
                                <th>F. Creación</th>
                                <th>Plan</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for c in cuentas %}
                                <tr>
                                    <td>
                                        <a href="{{ path('pedidos_cuenta_activar', {'id': c.id}) }}"
                                           class="btn btn-success btn-sm">
                                            <i class="typcn typcn-tick"></i>
                                        </a>
                                        {{ include('pedidos/_eliminar_cuenta_pedido.html.twig') }}
                                    </td>
                                    <td>{{ c.user.email }}</td>
                                    <td>{{ c.created | date }}</td>
                                    <td class="">
                                        <span class="badge badge-primary">{{ c.plan.nombre }}</span>
                                    </td>
                                    <td>
                                        {% if c.estado == false %}
                                            <span class="badge  badge-soft-danger">Desactivado</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}



