<form action="" method="post">
    <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label text-right">Email</label>
        <div class="col-sm-10">
            <input type="email" name="email" id="email" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label text-right">Contraseña</label>
        <div class="col-sm-10">
            <input type="password" name="password" id="password" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label for="repeatPassword" class="col-sm-2 col-form-label text-right">Repita la
            contraseña</label>
        <div class="col-sm-10">
            <input type="password" name="repeatPassword" id="repeatPassword" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label for="roles" class="col-sm-2 col-form-label text-right">
            Asigne un rol</label>
        <div class="col-sm-10">
            <select name="roles" id="roles" multiple>
                <option value="ROLE_REVENDEDOR">Revendedor</option>
                <option value="ROLE_USER">Cliente</option>
                <option value="ROLE_ADMIN">Administrador</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="repeatPassword" class="col-sm-2 col-form-label text-right">Estado</label>
        <div class="col-sm-10">
            <label>
                <input type="checkbox" name="status" checked>
            </label>
        </div>
    </div>

    <hr>
    <p class="text-blue">Accesos demos: (No son obligatorios)</p>
    <div class="field_wrapper">
        <div class="form-group row">
            <label for="usuario" class="col-sm-2 col-form-label text-right">Usuario Demo</label>
            <div class="col-sm-10 mx-auto">
                <input id="usuario" type="text" name="usuario[]" value="" class="form-control">
                <a href="javascript:void(0);" class="add_button btn btn-info btn btn-sm" title="Add field">
                    <i class="typcn typcn-plus"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="password_demo" class="col-sm-2 col-form-label text-right">Password Demo</label>
        <div class="col-sm-10">
            <input type="text" id="password_demo" name="password_demo" class="form-control">
        </div>
    </div>


    <div class="form-group row">
        <div class="col-sm-10 ml-auto">
            <input type="submit" class="btn btn-success" value="{{ button_label|default('Guardar') }}">
        </div>
    </div>
</form>

<script src="{{ asset('js/jquery.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var maxField = 10;
        var addButton = $('.add_button');
        var wrapper = $('.field_wrapper');
        var fieldHTML = `
<div class="form-group row">
    <label for="usuario" class="col-sm-2 col-form-label text-right">Usuario Demo</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="usuario[]" value=""/>
        <a href="javascript:void(0);" class="remove_button btn btn-danger btn-sm">
            <i class="typcn typcn-times"></i>
        </a>
    </div>
</div>`;
        var x = 1;

        $(addButton).click(function () {
            if (x < maxField) {
                x++;
                $(wrapper).append(fieldHTML);
            }
        });

        $(wrapper).on('click', '.remove_button', function (e) {
            e.preventDefault()
            $(this).parents('.form-group').remove();
            x--;
        });
    });
</script>