{% extends 'base.html.twig' %}

{% block title %}
    Editar mi perfil
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('user_profile') }}">
                        <i style="font-size: 15px" class="typcn typcn-chevron-left"></i>
                        Regresar</a>
                </div>
                <h4 class="page-title">Editar Perfil</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    {% for message in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="form-group row">
                            <label for="firstName" class="col-sm-2 col-form-label text-right">Nombres</label>
                            <div class="col-sm-10">
                                <input type="text" name="firstName" id="firstName" value="{{ user.firstName }}"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lastName" class="col-sm-2 col-form-label text-right">Apellidos</label>
                            <div class="col-sm-10">
                                <input type="text" name="lastName" id="lastName" value="{{ user.lastName }}"
                                       class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="foto" class="col-sm-2 col-form-label text-right">Foto</label>
                            <div class="col-sm-10">
                                <input type="file" accept="image/*" name="foto" id="foto"
                                       value="{{ user.perfil.foto }}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="foto" class="col-sm-2 col-form-label text-right"></label>
                            <div class="col-sm-10">
                                {% if user.perfil.foto %}
                                    <img class="img-thumbnail" width="100" height="100"
                                         src="{{ asset('uploads/perfil/') ~ user.perfil.foto }}" alt="">
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="whatsapp" class="col-sm-2 col-form-label text-right">Whatsapp</label>
                            <div class="col-sm-10">
                                <input type="text" name="whatsapp" id="whatsapp" value="{{ user.perfil.whatsapp }}"
                                       class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="direccion" class="col-sm-2 col-form-label text-right">Dirección</label>
                            <div class="col-sm-10">
                                <input type="text" name="direccion" id="direccion" value="{{ user.perfil.direccion }}"
                                       class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="pais" class="col-sm-2 col-form-label text-right">Pais</label>
                            <div class="col-sm-10">
                                <input type="text" name="pais" id="pais" value="{{ user.perfil.pais }}"
                                       class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="urlFacebook" class="col-sm-2 col-form-label text-right">Facebook</label>
                            <div class="col-sm-10">
                                <input type="text" name="urlFacebook" value="{{ user.perfil.urlFacebook }}"
                                       id="urlFacebook"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="urlInstagram" class="col-sm-2 col-form-label text-right">Instagram</label>
                            <div class="col-sm-10">
                                <input type="text" name="urlInstagram" id="urlInstagram"
                                       value="{{ user.perfil.urlInstagram }}"
                                       class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="urlYoutube" class="col-sm-2 col-form-label text-right">Youtube</label>
                            <div class="col-sm-10">
                                <input type="text" name="urlYoutube" id="urlYoutube"
                                       value="{{ user.perfil.urlYoutube }}"
                                       class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10 ml-auto">
                                <input type="submit" class="btn btn-success" value="Actualizar">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

