{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Bienvenido {{ user.firstName ~ ' ' ~ user.lastName }}</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <a href="{{ url('user_profile_edit') }}" class="btn btn-secondary btn-sm float-right">Editar</a>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Nombres</th>
                            <td>{{ user.firstName }}</td>
                        </tr>
                        <tr>
                            <th>Apellidos</th>
                            <td>{{ user.lastName }}</td>
                        </tr>
                        <tr>
                            <th>E-mail</th>
                            <td>{{ user.email }}</td>
                        </tr>

                        {% if user.perfil %}
                            <tr>
                                <th>Foto</th>
                                <td>
                                    {% if user.perfil.foto %}
                                        <img class="img-thumbnail" width="50" height="50"
                                             src="{{ asset('uploads/perfil/') ~ user.perfil.foto }}" alt="">
                                    {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <th>Whatsapp</th>
                                <td>{{ user.perfil.whatsapp }}</td>
                            </tr>
                            <tr>
                                <th>Dirección</th>
                                <td>{{ user.perfil.direccion }}</td>
                            </tr>
                            <tr>
                                <th>Pais</th>
                                <td>{{ user.perfil.pais }}</td>
                            </tr>
                            <tr>
                                <th>Facebook</th>
                                <td>{{ user.perfil.urlFacebook }}</td>
                            </tr>
                            <tr>
                                <th>Instagram</th>
                                <td>{{ user.perfil.urlInstagram }}</td>
                            </tr>

                            <tr>
                                <th>Youtube</th>
                                <td>{{ user.perfil.urlYoutube }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    Mi perfil
{% endblock %}

