{% extends 'base.html.twig' %}

{% block title %}Usuario registrar{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('user_vendedor') }}">
                        <i style="font-size: 15px" class="typcn typcn-chevron-left"></i>
                        Regresar</a>
                </div>
                <h4 class="page-title">Crear usuario (Administrador - Vendedor - Cliente)</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    {% for message in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {{ include('user/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    {{ usuarios }}
{% endblock %}

