{% extends 'base.html.twig' %}

{% block title %}
    Ver cuentas
{% endblock %}
{% block body %}
    <!--titulo-->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('app_vendedor') }}" class="btn btn-link">
                        <i style="font-size: 15px" class="typcn typcn-chevron-left"></i>
                        Regresar</a>
                    {#<a href="{{ path('app_vendedor_cuentas_nuevo', {'id': user.id}) }}"
                       class="btn btn-primary">Nuevo</a>#}
                </div>

                <h4 class="page-title">Cuentas de: {{ user.email }}</h4>
            </div>
        </div>
    </div> <!--end titulo-->
    {# {{ dump(cuentas) }} #}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>F. Creación</th>
                            <th>F. Vencimiento</th>
                            <th>Clientes Restantes</th>
                        </tr>
                        {% for key, c in cuentas %}
                            <tr class="{{ date(c.vencimiento) <= date() ? 'bg-soft-danger' : '' }}">
                                <td>{{ key + 1 }}</td>
                                <td>{{ c.username }}</td>
                                <td>{{ c.password }}</td>
                                <td>{{ c.created|date('d / m / Y') }}</td>
                                <td>{{ c.vencimiento|date('d / m / Y') }}</td>
                                <td>{{ c.restanteCliente }}</td>
                                {# <td>{{ c.vencimiento|date('d / m / Y') }}</td> #}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


