{% extends 'base.html.twig' %}

{% block title %}
    Vendedor
{% endblock %}

{% block body %}
    <!--titulo-->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('user_register') }}" class="btn btn-primary">Nuevo</a>
                </div>
                <h4 class="page-title">Vendedores</h4>
            </div>
        </div>
    </div> <!--end titulo-->
    <div class="row">
        {% for v in paginator.results %}
            <div class="col-md-3">
                <div class="card client-card">
                    <div class="card-body text-center">
                        {% if v.perfil.foto %}
                            <img src="{{ asset('uploads/perfil/') ~ v.perfil.foto }}" class="rounded-circle thumb-xl"
                                 alt="">
                        {% else %}
                            <img src="{{ asset('img/user-8.jpg') }}" class="rounded-circle thumb-xl" alt="Profile user">
                        {% endif %}
                        {% if v.firstName %}
                            <h5 class="client-name">{{ v.firstName }}</h5>
                        {% else %}
                            <h5 class="client-name">Sin nombre</h5>
                        {% endif %}
                        <span class="text-muted mr-3">
                            <i class="dripicons-location mr-2 text-info"></i> {{ v.perfil.pais ~ v.perfil.direccion }}
                        </span>
                        <span class="text-muted"><i
                                    class="dripicons-phone mr-2 text-info"></i>{{ v.perfil.whatsapp }}</span>
                        <p class="text-muted text-center mt-3">{{ v.email }}</p>
                        <p class="text-success text-center mt-3 font-weight-bold">S/. {{ v.saldo }}</p>
                        {# <button type="button" class="btn btn-sm btn-soft-secondary"><i class="mdi mdi-plus"></i>
                        </button> #}
                        <a class="btn btn-sm btn-soft-primary"
                           href="{{ path('app_vendedor_cuentas', {'id': v.id}) }}"><i class="mdi mdi-eye"></i></a>
                        {# <button type="button" class="btn btn-sm btn-soft-primary"><i class="mdi mdi-eye"></i></button> #}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12">

            <div class="d-flex justify-content-center">
                {% if paginator.hasToPaginate %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if paginator.hasPreviousPage %}
                                <li class="page-item"><a
                                            href="{{ path('app_vendedor', {page: paginator.previousPage}) }}"
                                            rel="previous" class="page-link">Previous
                                    </a></li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a href="#" tabindex="-1" class="page-link">Previous</a>
                                </li>
                            {% endif %}

                            {% for i in 1..paginator.lastPage %}
                                {% if i == paginator.currentPage %}
                                    <li class="page-item active">
                                        <a class="page-link"
                                           href="{{ path('app_vendedor', {page: i}) }}">{{ i }}</a>
                                    </li>
                                {% else %}
                                    <li><a class="page-link"
                                           href="{{ path('app_vendedor', {page: i}) }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if paginator.hasNextPage %}
                                <li class="page-item next"><a
                                            href="{{ path('app_vendedor', {page: paginator.nextPage}) }}"
                                            rel="next" class="page-link">Next</a></li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a href="#" class="page-link">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- end Content -->
{% endblock %}



