{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('user_register') }}" class="btn btn-primary">
                        Nuevo</a>
                </div>
                <h4 class="page-title">Lista de revendedores</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="" method="get">

                        <div class="row mb-4">
                            <div class="col-md-4">
                                <select name="status" id="" class="form-control">
                                    <option value="" selected>Seleccione</option>
                                    <option value="1">ACTIVO</option>
                                    <option value="0">DESACTIVADO</option>
                                </select>
                            </div>

                            <div class="col-md-6">
                                <input type="search" name="email" class="form-control">
                            </div>

                            <div class="col-md-2">
                                <button type="submit" class="btn btn-info">Buscar</button>
                            </div>
                        </div>

                    </form>

                    <div class="table-responsive mb-4">
                        <table class="table table-bordered mb-0">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Email</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Saldo</th>
                                <th>Patrocinador</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, ven in paginator.results %}
                                <tr>
                                    <td>{{ key + 1 }}</td>
                                    <td>{{ ven.email }}</td>
                                    <td>{{ ven.firstName }}</td>
                                    <td>{{ ven.lastName }}</td>
                                    <td>{{ ven.saldo }}</td>
                                    {% if ven.patrocinador %}
                                        <td>{{ ven.patrocinador.email }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}

                                    <td>
                                        {% if ven.isActive %}
                                            <span class="badge badge-soft-success">Activo</span>
                                        {% else %}
                                            <span class="badge-soft-danger">Desactivo</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="btn btn-warning btn-sm"
                                           href="#">
                                            <i class="typcn typcn-pencil"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-center">
                        {% if paginator.hasToPaginate %}
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    {% if paginator.hasPreviousPage %}
                                        <li class="page-item"><a
                                                    href="{{ path('user_vendedor', {page: paginator.previousPage}) }}"
                                                    rel="previous" class="page-link">Previous
                                            </a></li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a href="#" tabindex="-1" class="page-link">Previous</a>
                                        </li>
                                    {% endif %}

                                    {% for i in 1..paginator.lastPage %}
                                        {% if i == paginator.currentPage %}
                                            <li class="page-item active">
                                                <a class="page-link"
                                                   href="{{ path('user_vendedor', {page: i}) }}">{{ i }}</a>
                                            </li>
                                        {% else %}
                                            <li><a class="page-link"
                                                   href="{{ path('user_vendedor', {page: i}) }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if paginator.hasNextPage %}
                                        <li class="page-item next"><a
                                                    href="{{ path('user_vendedor', {page: paginator.nextPage}) }}"
                                                    rel="next" class="page-link">Next</a></li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a href="#" class="page-link">Next</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    Vendedores
{% endblock %}

