{% extends 'base.html.twig' %}
{% block title %}
    Registrar nueva cuenta
{% endblock %}
{% block body %}
    <!--titulo-->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('app_vendedor_cuentas', {'id': user.id}) }}">
                        <i style="font-size: 15px" class="typcn typcn-chevron-left"></i>
                        Regresar</a>
                </div>
                <h4 class="page-title">Registrar nueva cuenta para: <span class="text-danger">{{ user.email }}</span>
                </h4>
            </div>
        </div>
    </div> <!--end titulo-->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="precio">Costo de las cuentas: </label>
                                <input type="text" readonly class="form-control" value="{{ plan.precio }}">
                                <small class="form-text text-muted">Recuerda que si quieres cambiar el precio,
                                    puedes
                                    hacerlo desde las configuraciones generales <a
                                            href="{{ path('plan') }}">aquí</a>
                                </small>
                            </div>

                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="numero">Cantidad de clientes: </label>
                                <input type="text" readonly class="form-control" value="{{ plan.numeroClientes }}">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="saldo">Saldo usuario: </label>
                                <input type="text" readonly class="form-control" value="{{ user.saldo }}">
                            </div>
                        </div>
                    </div>
                    {% if pass %}
                        <form action="" method="post">
                            <div class="form-group row">
                                <label for="username" class="col-sm-2 col-form-label text-right">
                                    * Usuario
                                </label>
                                <div class="col-md-6">
                                    <input type="text" id="username" name="username" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-sm-2 col-form-label text-right">
                                    * Contraseña
                                </label>
                                <div class="col-md-6">
                                    <input type="text" id="username" name="password" class="form-control">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-10 ml-auto">
                                    <button type="submit" class="btn btn-success">
                                        <i class="typcn typcn-location-arrow"></i>Guardar y Enviar
                                    </button>
                                </div>
                            </div>
                        </form>
                    {% else %}


                        <div class="alert alert-warning">
                            <i class="dripicons-warning px-1"></i>El usuario de esta cuenta no tiene saldo suficiente
                            para que le cree nuevas cuentas segun
                            su configuración, puede enviarle un mensaje pidiendo recargar la cuenta <a
                                    href="{{ path('app_message_nuevo', {'id': user.id}) }}">aquí</a>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}



