{% extends 'base.html.twig' %}
{% block title %}
    Editar cuenta {{ cuenta.username }}
{% endblock %}
{% block body %}
    <!--titulo-->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <a href="{{ path('app_vendedor_cuentas', {'id': user.id}) }}">
                        <i style="font-size: 15px" class="typcn typcn-chevron-left"></i>
                        Regresar</a>
                </div>
                <h4 class="page-title">Editar cuenta para: <span class="text-danger">{{ user.email }}</span>
                </h4>
            </div>
        </div>
    </div> <!--end titulo-->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="" method="post">
                        <div class="form-group row">
                            <label for="username" class="col-sm-2 col-form-label text-right">
                                * Usuario
                            </label>
                            <div class="col-md-6">
                                <input type="text" id="username" value="{{ cuenta.username }}" name="username"
                                       class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-sm-2 col-form-label text-right">
                                * Contraseña
                            </label>
                            <div class="col-md-6">
                                <input type="text" id="username" value="{{ cuenta.password }}" name="password"
                                       class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="price" class="col-sm-2 col-form-label text-right">
                                Precio cuenta
                            </label>
                            <div class="col-md-6">
                                <input type="text" id="username" value="{{ plan.precio }}" readonly name="price"
                                       class="form-control disabled">
                                <small class="form-text text-muted">Recuerda que si quieres cambiar el precio, puedes
                                    hacerlo desde las configuraciones generales <a href="{{ path('plan') }}">aquí</a>
                                </small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-10 ml-auto">
                                <button type="submit" class="btn btn-success">
                                    <i class="typcn typcn-location-arrow"></i>Editar y Enviar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



